<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>

<div id = "clientProfile">
    <h2>My Profile</h2>
    <p class="clientName" th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>

<div id = "servicesMenu">
    <h2>Menu of Available Services</h2>
    <h3>Facial Treatments</h3>
    <p>The facial treatments below are recommended<br>by our estheticians for your given skin type.</p>

    <table>
        <th:block th:each="facial : ${appropriateFacials}">
            <tr>
                <td th:text="${facial}"></td>
            </tr>
        </th:block>
    </table>

    <div th:if="${manipedi} == 'manicure'">
        <h3>Manicure</h3>
        <p th:replace = "fragments :: manicureDescription"></p>
    </div>

    <div th:if="${manipedi} == 'pedicure'">
        <h3>Pedicure</h3>
        <p th:replace = "fragments :: pedicureDescription"></p>
    </div>

    <div th:if="${manipedi} == 'both'">
        <h3>Manicure</h3>
        <p th:replace = "fragments :: manicureDescription"></p>
        <h3>Pedicure</h3>
        <p th:replace = "fragments :: pedicureDescription"></p>
    </div>
</div>


<footer>
    <div>
        <h3>Available Nail Polish Colors</h3>
        <table>
            <tr>
                <td>
                    <div class="square" style="background-color: blue"></div>
                </td>
                <td>
                    <div class="square" style="background-color: red"></div>
                </td>
                <td>
                    <div class="square" style="background-color: purple"></div>
                </td>
                <td>
                    <div class="square" style="background-color: pink"></div>
                </td>
                <td>
                    <div class="square" style="background-color: green"></div>
                </td>
                <td>
                    <div class="square" style="background-color: yellow"></div>
                </td>
                <td>
                    <div class="square" style="background-color: aqua"></div>
                </td>
                <td>
                    <div class="square" style="background-color: gray"></div>
                </td>
            </tr>
        </table>
    </div>
</footer>

</body>
</html>